// Shadow
@mixin shadow( $color: rgba(black,0.1)) {
    box-shadow: 0px 2px 10px 0px $color;
}

// 3D Lift on Hover
@mixin lifts {
    transition: all 0.15s ease;
    &:hover, &:focus {
        @include shadow;
        // transform: scale(1.03);
    }
    &:active {
        box-shadow: none;
        // transform: scale(0.97);
        filter: brightness(0.9);
    }
}

// Display Markup
@mixin markup( $on_color: false ) {
    word-break: break-word;
    word-wrap: break-word;

    ul, ol {
        margin-left: 20px;
        padding: 10px;
    }
    ul {
        li {
            list-style: disc;
        }
    }

    h1 { font-weight: 900; font-size: 1.1em; margin-top: 5px; }
    h2 { font-weight: 700; font-size: 0.8em; text-transform: uppercase; opacity: 0.8; }

    a {
        text-decoration: underline;
    }

    @if $on_color == true {
        color: white !important;
        strong {
            font-weight: 900;
        }
    }

    p {
        padding: 10px 0;
        &:first-of-type {
            padding-top: 0;
        }
        &:last-of-type {
            padding-bottom: 0;
        }
    }

    iframe {
        max-width: 100%;
    }

}

// Form Input Style
@mixin moca-input {
    background: $light;
    border-radius: 5px;
    min-height: 30px;
    padding: 0;
    width: 100%;

    input, textarea {
        background: none;
        border: none;
        font: inherit;
        font-size: 0.9em;
        font-weight: 700;
        height: 30px;
        outline: none;
        padding: 5px 10px;
        width: 100%;
    }

    textarea {
        display: block;
        height: 90px;
        min-height: calc(1em + 20px);
        padding: 10px;
        resize: vertical;
        width: 100%;
    }

}
