// Shadow
@mixin shadow( $color: rgba(black,0.1)) {
    box-shadow: 0px 2px 10px 0px $color;
}

// 3D Lift on Hover
@mixin lifts {
    transition: all 0.15s ease;
    &:hover {
        @include shadow;
        transform: scale(1.03);
    }
}

// Display Markup
@mixin markup( $on_color: false ) {
    ul, ol {
        margin-left: 20px;
        li {
            list-style: disc;
        }
    }

    h1 { font-weight: 900; font-size: 1.5em; }
    h2 { font-weight: 900; font-size: 1.2em; }
    h3 { font-weight: 700; font-size: 1.1em; }

    a {
        text-decoration: underline;
    }

    @if $on_color == true {
        color: white !important;
        strong {
            font-weight: 900;
        }
    }

}

// Form Input Style
@mixin moca-input {
    background: $light;
    border-radius: 5px;
    min-height: 30px;
    padding: 0;

    input, textarea {
        background: none;
        border: none;
        font: inherit;
        font-size: 0.9em;
        font-weight: 700;
        height: 30px;
        outline: none;
        padding: 5px 10px;

    }

    textarea {
        display: block;
        height: 90px;
        padding: 10px;
        resize: vertical;
        width: 100%;
    }

}
