// Layout
$max-width: 1000px;
$header-size: 80px;


// Color
$green: #2ecc6e;
$orange: #f46f3f;
$gray: #ededee;

$light: #f3f4f7;
$medium: #8999a9;
$dark: #444;

$primary: $green;
$text: $dark;


// Type
$family-primary: 'Lato';
