// Layout
$max-width: 1000px;
$header-size: 80px;


// Color
$green: #2ecc6e;
$orange: #f6953b;
$red: #f43f65;
$gray: #ededee;

$lighter: #fbfbfb;
$light: #f3f4f7;
$medium: #abbbcb;
$medium-dark: #999;
$dark: #444;
$darker: #222;

$primary: $green;
$text: $dark;


// Type
$family-primary: 'Lato';
