@import "./theme/inputs";

$white-ter: #f4f8f9;
$shadow: darken($white-ter, 5%);
$gray: #ededee;
$green: #2ecc6e;
$max-width: 1000px;
$headerWidth: 80px;
$orange: #f46f3f;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}
@mixin shadow( $color: $shadow) {
    box-shadow: 0px 2px 10px 0px $color;
}
@mixin lifts {
    transition: all 0.15s ease;
    &:hover {
        @include shadow;
        transform: scale(1.03);
    }
}

body { // @todo remove actual styles from this file - it gets repeated
    font-family: Lato;
}

button.button {
    align-self: center;
    background-color: $green;
    border: none;
    color: white;
    font-size: 0.85em;
    font-weight: 900;
    height: 35px;
    min-width: 120px;
    padding: 0 15px;
    text-transform: uppercase;
    @include lifts;

    &:not(:last-child) {
        margin-right: 20px !important;
    }

    &.inverted {
        background-color: white;
        color: $green;
        &:hover, &.is-active, &:active, &:focus {
            color: $green;
        }
    }

    &:hover, &.is-active, &:active, &:focus {
        color: white;
    }

    &:disabled {
        color: darken($gray,25%);
    }

}

// input, textarea {
//     border: 1px solid darken($shadow, 15%);
//     font: inherit !important;
//     outline: none;
//     margin: 5px 0;
//     padding: 5px 10px;
//
// }
