$white-ter: #f4f8f9;
$shadow: darken($white-ter, 5%);
$green: #2ecc6e;
$max-width: 1000px;
$headerWidth: 80px;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

@mixin lifts {
    transition: all 0.15s ease;
    &:hover {
        box-shadow: 0px 2px 10px 0px $shadow;
        transform: scale(1.03);
    }
}

body { // @todo remove actual styles from this file - it gets repeated
    font-family: Lato;
}
